@{

}
<h2>@ViewBag.guiones</h2>
<h3>INTENTOS FALLIDOS: @ViewBag.cantidadFallidos</h3>
<h3>LETRAS FALLIDAS: @ViewBag.arriesgosFallidos</h3>

<form action='@Url.Action("compararLetras","Home")' method="post">
Letra: <input type ="text" name ="letra">
<input type="submit" value = "Enviar">
</form>

<form action='@Url.Action("compararPalabra","Home")' method="post">
Palabra: <input type ="text" name ="palabra">
<input type="submit" value = "Enviar">
</form>

